
    <!-- 右 -->
    <div class="content">
        <div class="header">
            <h1 class="page-title">分派权限</h1>
        </div>

        <div class="well">
        正在给【主管】分派权限
        <form action="" method="post">
            <!-- table -->
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>权限分类</th>
                        <th>权限</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="success">
                        <td><input type="checkbox" name="id[]" value="" checked="checked">商品管理</td>
                        <td>
                            <input type="checkbox" name="id[]" value="" checked="checked">商品列表
                            <input type="checkbox" name="id[]" value="" checked="checked">商品新增
                        </td>
                    </tr>
                    <tr class="success">
                        <td><input type="checkbox" name="id[]" value="" checked="checked">订单管理</td>
                        <td>
                            <input type="checkbox" name="id[]" value="" checked="checked">订单列表
                            <input type="checkbox" name="id[]" value="" checked="checked">订单新增
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" type="submit">保存</button>
        </form>
        </div>
        <!-- footer -->
        <footer>
            <hr>
            <p>© 2017 <a href="javascript:void(0);" target="_blank">ADMIN</a></p>
        </footer>
    </div>
