    <!-- 右 -->
    <div class="content">
        <div class="header">
            <h1 class="page-title">商品列表</h1>
        </div>

        <div class="well">
            <!-- search button -->
            <form action="{:url('Goods/index')}" method="get" class="form-search">
                <div class="row-fluid" style="text-align: left;">
                    <div class="pull-left span4 unstyled">
                        <p> 商品名称：<input class="input-medium" name="" type="text"></p>
                    </div>
                </div>
                <button type="submit" class="btn">查找</button>
                <a class="btn btn-primary" href="#">新增</a>
            </form>
        </div>
        <div class="well">
            <!-- table -->
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>商品名称</th>
                        <th>商品价格</th>
                        <th>商品数量</th>
                        <th>商品logo</th>
                        <th>上下架状态</th>
                        <th>添加时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                {volist name="data" id="vo"}
                    <tr class="success">
                        <td>{$vo.id}</td>
                        <td><a href="{:url('Goods/read')}?id={$vo.id}">{$vo.goods_name}</a></td>
                        <td>{$vo.goods_price}</td>
                        <td>{$vo.goods_number}</td>
                        <td><img src="__UPLOADS__/{$vo.goods_logo}"></td>
                        <td>
                            {eq name="$vo.is_show" value="1"}
                                <h3 style="color: green">√</h3>
                            {else/}
                                <h3 style="color: red;">×</h3>
                            {/eq}
                        </td>
                        <td>{$vo.create_time}</td>
                        <td>
                            <a href="{:url('edit')}?id={$vo.id}"> 编辑 </a>
                            <a href="{:url('delete')}?id={$vo.id}"> 删除 </a>
                        </td>
                    </tr>
                {/volist}
                </tbody>
            </table>
            <!-- pagination -->
                {$data->render()}
        </div>
        
        <!-- footer -->
        <footer>
            <hr>
            <p>© 2017 <a href="javascript:void(0);" target="_blank">ADMIN</a></p>
        </footer>
    </div>
